<div class="card mb-3">
        
    <div class="card-header">
      <i class="fa fa-table"></i> Danh sách User</div>
    <div class="card-body">
      <div class="table-responsive">
        <table datatable class="row-border hover" >
          <thead>
            <tr>
              <th>Id</th>
              <th>Username</th>
              <th>Email</th>
              <th>Ngày sinh</th>
              <th>Giới tính</th>
              <th>Khóa/Kích hoạt</th>
              <th>Thao tác</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of users">
              <td>{{user.UserID}}</td>
              <td>{{user.username}}</td>
              <td>{{user.email}}</td>
              <td>{{user.NgaySinh}}</td>
              <td *ngIf="user.GioiTinh==1">Nam</td>
              <td *ngIf="user.GioiTinh!=1">Nữ</td>
              <td *ngIf="user.TrangThai==1">Kích hoạt</td>
              <td *ngIf="user.TrangThai!=1">Khóa</td>
              <td><a href="#">Xem</a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
        

